*,
*::after,
*::before {
    box-sizing: border-box;
}



body {

    background-image: url(wp4286410\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

h1 {

    text-align: center;
    border-bottom: 40px;
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    height: 40vh;
    margin: 2px;
    font-size: 90px;
    color:#2575fc;
    font-family: 'Yesteryear';
}


input {
    width: 105%;
    height: 6vh;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 29px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
}


.dennis {
    width: 500px;
    margin: auto;
    align-items: center;


}


header {
    height: 295px;
}

.title {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 25px;
    margin: 27px;

}

.grid-item {
    margin: 10px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(33, 109, 168);
    font-size: 20px;

}

p {
    margin: 30px;

}

.grid-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: rgb(3, 30, 97);
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: 'volkhov';
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 66px;
    
  
    top: 58%;
    left: 37%;
    padding: 20px 150px 20px 150px;
    border-radius: 50px 20px;
   
}

.lukas {

    height: 400px;
    border-radius: 10px;


}


.wrapper {
    display: grid;
    place-items: center;
   
}

.box {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0px);
    width: 900px;
    padding-top: 30px;
    border-radius: 400px;
    margin-top: 70px;
    margin-bottom: auto;
    

    
}
.button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #2575fc, #6a11cb); 
}
#errorBox{
    color:rgb(4, 0, 225);
    justify-content: center;
    display: flex;
    
    background-color: #ffffff48;
    

    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 70ch;
    border-radius: 40px;
    font-size: 20px;

    

}

#errorBox.hidden {
    display: none;

}


































